.simplebar-vertical {
  right: -11px;
}

[data-simplebar] {
  max-height: calc(70vh - 30px);
}

.simplebar-horizontal {
  visibility: hidden !important;
}

.modal-content {
  background-color: #393e46;
  color: #eeeeee;
}

.modal-content a {
  color: #eeeeee;
}

.modal-content a:hover {
  color: #00adb5;
}

.table {
  color: #eeeeee;
}

.build-desc {
  width: 100%;
  float: left;
}

.build-title {
  color: #00adb5;
}

.modal-footer {
  justify-content: space-between;
}

.toast-container {
  z-index: 1056;
}

td {
  line-height: 38px;
}

td a {
  text-decoration: none;
}

.required {
  color: #dc3545;
  font-weight: normal;
}
