.simplebar-vertical {
    right: -11px;
}

[data-simplebar] {
    max-height: calc(70vh - 30px);
}

.simplebar-horizontal {
    visibility: hidden !important;
}

.modal-content {
    background-color: #393E46;
    color: #EEEEEE;
}

.modal-content a {
    color: #EEEEEE;
}

.modal-content a:hover {
    color: #00ADB5;
}

.table {
    color: #EEEEEE;
}

.build-desc {
    width: 100%;
    float: left;
}

.build-title {
    color: #00ADB5;
}

.modal-footer {
    justify-content: space-between;
}

.toast-container {
    z-index: 1056;
}