.simplebar-vertical {
    right: -11px;
}

[data-simplebar] {
    max-height: calc(70vh - 30px);
}

.simplebar-horizontal {
    visibility: hidden !important;
}

.modal-content {
    background-color: #393E46;
    color: #EEEEEE;
}

.modal-content a {
    color: #EEEEEE;
}

.modal-content a:hover {
    color: #00ADB5;
}