.footer {
    background-color: #393e46;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
}

.footer a {
    color: #eeeeee;
}

.nav-link:focus,
.nav-link:hover {
    color: #00adb5;
}

.footer .icon-spacer {
    width: 36px;
    float: left;
}

@media (max-width: 875px) {
    .footer {
        height: 160px;
    }

    .content {
        min-height: calc(100vh - 160px - 2 * 25px - 56px) !important;
    }

    .footer a .icon-spacer {
        display: none;
    }

    .footer a span {
        text-align: left;
    }
}

@media (max-width: 775px) {
    .footer a .icon-spacer {
        display: block;
        width: 50%;
        text-align: center;
    }

    .footer a span {
        display: none;
    }

    .footer li {
        height: 24px;
    }

    .footer .h5 {
        font-size: 0.92rem;
    }

    .footer .footer-copyright {
        font-size: 0.92rem;
    }
}
