.sidebar {
    width: 82px;
    background: #0d1117;
    height: 100vh;
    position: fixed;
    top: 0px;
}

.offcanvas-body,
.offcanvas-header {
    background-color: #0d1117;
    color: #c6ced5;
}

.offcanvas-body .nav-link {
    color: #c6ced5;
}

.offcanvas-header .btn-close {
    filter: invert(85%) sepia(25%) saturate(279%) hue-rotate(308deg) brightness(104%) contrast(110%);
}